#profile-section {
  margin: 50px;
}

#profile-section figure {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#profile-section img {
  flex: 1;
}
#profile-section figcaption {
  flex: 4;
}

#profile-pic {
  display: block;
  border-radius: 30px;
  max-width: 150px;
  margin-bottom: 20px;
}

#about-me-write {
  font-size: 1.05rem;
  letter-spacing: 1px;
  font-family: var(--body-font);
  padding: 0 30px;
  color: var(--font-color);
  margin: 0 auto;
  margin-top: 10px;
}

#quote {
  font-size: 1.7vw;
  width: 90%;
  margin: 50px auto;
  text-align: center;
  color: var(--font-color);
  font-style: italic;
}

.about-me-card-section {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.list-in-card {
  list-style: circle;
}

.list-in-card a {
  border-bottom: 1px solid var(--green-accent);
  color: var(--green-accent)
}
