footer {
  display: flex;
  position: relative;
  background-color: var(--black);
  opacity: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid var(--black);
  z-index: 999;
  animation: footerFadeIn 1s 4s both;
}
footer p {
  color: var(--green-accent);
}
footer a {
  font-size: 1.7rem;
  color: var(--green-accent);
}
footer a {
  margin-right: 40px;
}
footer a:hover {
  color: var(--font-color);
}

@keyframes footerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
