html {
    background-color: rgb(11, 14, 25);
}

body {
    background-image: url("../public/background.png");
    background-size:cover;                 
    background-position: center; 
    background-repeat: no-repeat;
    height: 800px;  
}

/* Header and Navigation */

/* About me section */
section {
    color: white;
}
#profile {
    padding: 5px;
    text-align: center;
}
#profile h3 {
    font-size: 2em;
    border-bottom: 1px solid white;
    width: 80%;
    margin: 4vw auto 0;
    padding-bottom: 3vw;
}
#profile-pic {
    margin-bottom: 5vh;
    width: 15vw;
    border-radius: 10px;
}

#about-me-write {
    font-size: 1.4em;
    width: 90%;
    text-align: center;
    margin: 7vw auto;
}