/* media queries */
@media screen and (max-width: 990px) {
  #profile-section figure {
    flex-direction: column;
    align-items: center;
  }
  #about-me-write {
    text-align: justify;
    padding: 20px;
  }
  .modalContainer {
    width: 480px;
  }
}

@media screen and (max-width: 860px) {
  /* don't display dots in navlinks in mobile */
  .navigation {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
  }
  .mobile-nav .hamburger {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    color: var(--green-accent);
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: #181818;
    padding-bottom: 20px;
    border-top: 1px solid var(--card-bg);
  }
  nav ul li {
    padding: 20px;
    padding-left: 30px;
  }
  .link-el {
    margin: 0px;
  }
  /* homepage stat cards need to stack */
  .stat-card {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 770px) {
  .about-me-card-section {
    display: block;
  }

  .sub-heading {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .star-rating-key-div {
    margin-top: 5px;
  }
}

@media screen and (max-width: 530px) {
  body {
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: repeat-y;
  }
  .modalContainer {
    width: 330px;
  }

  .mobile-nav .hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
    color: var(--green-accent);
  }
  nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #181818;
  }
  nav ul li {
    padding-left: 5%;
    padding-bottom: 20px;
  }

  .overlay p {
    font-size: 1.2rem;
  }

  .overlay p:nth-child(2) {
    font-size: 0.85rem;
  }
  .gallery-cards:hover .overlay p:first-child {
    margin-top: 20%;
  }
}
