

/* Each row in the table */
.rating-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--font-color);
}

/* Label for each row */
.rating-label {
  margin-right: 20px;
  color: var(--font-color);
  font-family: var(--body-font);
}

/* Container for the stars */
.rating-stars {
  display: flex;
}

/* Star styling */
.starOn {
  color: var(--yellow-accent);
  margin-right: 4px;
  font-size: 1.3rem;
}
.starOff {
  color: var(--yellow-accent);
  opacity: 0.3;
  margin-right: 4px;
  font-size: 1.3rem;
}
