.link-el {
  font-family: var(--body-font);
  color: var(--green-accent);
  display: inline;
}
.link-el {
  margin: 10px;
}
.link-el:first-child {
  margin-left: 0;
}
.link-el a:hover {
  color: var(--font-color);
}
.link-el a {
  text-decoration: none;
  font-size: 1.2rem;
}
nav a.active {
  color: var(--font-color);
  border-bottom: 1px solid var(--font-color);
  cursor: pointer;
}

.link-dot {
  height: 4px;
  width: 4px;
  background-color: var(--green-accent);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 20px;
  top: -3px;
  animation: fadeInAboutMe 0.8s 0.5s both;
}
